.container {
    display: flex;
    justify-content: center;
    background-color: #ECEE81;
    
  }
  p{
    margin-left: 20%;
    margin-right: 20%;
  }
  .showText{
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: #053B50;
  }  

  .btn {
    background-color: #053B50;
    color: #fff;
    padding: 10px;
    border: none;
    text-transform: uppercase;
  } 
  .arrows{
    border: none;
   
  }